body { 
    font-family: Helvetica;
    background: #10162f; 
    color: white;  
    margin: 0;
}

.content {
    min-height: calc(100vh - 116px);
}

/* Shortcut classes */

.margin-auto {
    margin: auto;
}

.width-auto {
    width: auto;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

/* Navigation bar */

.navigation-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #141e3B;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 0;
    top: 0;
    padding: 1px; 
    width: 100%;
}

.navigation-bar img {
    padding: 10px; 
}

#logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navigation-bar h2 {
    text-align: center;
    padding: 10px 16px 10px 16px;
    margin: 0px 0px 0px 250px;
}

.beskrivelse h3 {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}

.beskrivelse p {
    font-size: 11px;
    opacity: 0.75;
    margin: 0;
}

.nav {
    background-color: #141e3B;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin: auto 0px;
}

.nav li {
    float: left;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
}

.nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 24px 24px;
    color: white;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: #3069f0;
}

/* Om mig */

.om-mig img {
    display: block;
    margin: 110px auto 10px auto;   
}

.om-mig h1 {
    margin: 0;
    margin-bottom: 5px;
}

.kontakt {
    width: 416px;
    height: 20px;
}

.kontakt p {
    display: inline-block;
    font-size: 18px;
    margin: 0 22px;
    margin-bottom: 30px;
}

.kontakt a {
    color: white;
    text-decoration: none;
}

#om-mig-tekst {
    font-size: 20px;
    width: 58%;
    margin: auto;
}

.kompetencer table {
    padding: 0 100px;
    margin: 0 auto;
}

.kompetencer th, .kompetencer td {
    text-align: center;
    padding: 5px 80px;
}

.kompetencer th {
    font-size: 30px;
}

.kompetencer td {
    font-size: 20px;
}

.uddannelse table {
    border-collapse: collapse;
    margin: 0 auto;
}

.uddannelse th {
    color: black;
    font-size: 25px;
    text-align: left;
    background-color: white;
    padding: 12px;
    padding-right: 300px;
}

.uddannelse td {
    text-align: left;
    font-size: 20px;
    padding: 8px;
}

.uddannelse tr:nth-child(even) {
    background-color: #141e3B;
}

.evner-bar {
    width: 80%;
    border: 4px solid #141e3B;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 0 auto;
}

.evner-progress {
    height: 20px;
    border-radius: 15px;
    background-color: #3069f0;
}

.evner-bar-text {
    font-size: 14px;
    text-align: center;
}

.evner-sprog {
    font-size: 18px;
    text-align: center;
    margin: 15px 0 2px 0;
}

/* Portfolio */

.portfolio h2 {
    background-color: #141e3B;
    padding: 5px;
    margin: 0 250px;
}

.portfolio h3, .portfolio p {
    margin: 10px;
}

.portfolio img {
    margin: 10px 0 10px 250px;
}

div .projekt-hjemmeside {
    width: 350px;
}

div .portfolio-info {
    width: 626px;
}

.portfolio-bar {
    border: 4px solid #141e3B;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 50%;
    margin: 0 10px;
}

.bar-text {
    font-size: 11px;
    text-align: center;
}

.progress {
    background-color: #3069f0;
    border-radius: 15px;
    height: 14px;
}

/* Dokumenter */

.dokumenter {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}

.dokumenter-navne {
    width: 40%;
    margin: 0 auto;
}

.dokumenter h3 {
    width: 240px;
    margin: 0 auto;
}

.cv {
    height: 880px;
    width: 40%;
    height: auto;
    margin-left: auto;

}
.ansøgning {
    height: 880px;
    width: 40%;
    height: auto;
    margin-right: auto;
}

.cv img, .ansøgning img {
    display: block;
    border: 15px solid white;
    border-radius: 8px;
    height: auto;
    width: 85%;
    padding: 0px;
    margin: 15px auto;
}

.dokumenter-download {
    width: 80%;
    margin: 0 auto;
}

.dokumenter-download button {   
    display: block; 
    color: white;
    cursor: pointer;
    font-size: 20px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 10px auto 20px auto;
}

.dokumenter-download button:hover {
    border: 2px solid royalblue;
    background-color: royalblue;
}

.dokumenter-download a {
    color: white;
    text-decoration: none;
}

/* Footer */

.foot {
    background-color: #141e3B; 
}

.foot h5, .foot h6 {
    line-height: 43px;
    margin: 0;
    margin-left: 10px;
}

.foot a {
    padding: 0;
    margin: 0;
}

.ikoner {
    color: white;
    margin: 6px 0px;
    margin-right: 10px;
}
